output.dxf
output2.dxf
venv
dataset
Images
Research
FabricSpotDefect
py-src/AlexNet_1k_Classes/feature_maps
py-src/AlexNet_1k_Classes/combine_feature_maps
py-src/AlexNet_1k_Classes/periodicity_analysis
py-src/AlexNet_1k_Classes/periodicity_maps
py-src/YOLO_ImagesDetection/predicts
py-src/YOLO_ImagesDetection/screenshots